*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Onest';
    font-style: normal;
    font-size: 10px;
    color: #383838;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}